@model Web.Areas.Admin.Controllers.UserController.Message
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div>
        登录页面
        <input type="text" value="@(Model.Msg)" id="id" /><input type="button" id="btnSave" value="提交" />
        <input type="button" id="btnOut" value="登出" />
    </div>
    <script src="~/Areas/Admin/js/jquery-1.9.1.min.js"></script>
    <script>
        $(function () {
            $("#btnSave").click(function () {
                var id=$("#id").val();
                $.ajax({
                    url: "/admin/user/login", type: "post", data: { id: id },
                    success: function (res) {
                        if (res.status == "1") {
                            alert("成功");
                        }
                    },
                    error: function () { alert("网络错误"); }
                });
            });
            $("#btnOut").click(function () {
                $.ajax({
                    url: "/admin/user/logout", type: "post", data: { },
                    success: function (res) {
                        if (res.status == "1") {
                            alert("成功");
                        }
                    },
                    error: function () { alert("网络错误"); }
                });
            });
        });
    </script>
</body>
</html>
